.img {
  border-style: solid;
  border-width: 10px;
  width: 150px;
  height: 150px;
  margin: 20px;
  border-color: var(--primary-dark);
}

.gallery-card {
  background-color: var(--green);
}

.gallery-img {
  max-height: 60vh;
  max-width: 80vw;
  height: 60vh;
  width: auto;
}
