.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.home-welcome {
  font-family: var(--logo-font);
  font-size: 330%;
}

.home-brand {
  font-size: 110%;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px var(--primary-dark);
}

.home-brand:hover {
  color: var(--primary-dark);
  text-shadow: 1px 1px 1px black;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

#animate-area {
  background-image: url("../../images/homePageBackground.png");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}
