.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  z-index: -2 !important;
  background-size: cover;
}

.home-welcome {
  font-family: var(--logo-font);
  font-size: 330%;
}

.home-brand {
  font-size: 110%;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px var(--primary-dark);
}

.home-brand:hover {
  color: var(--primary-dark);
  text-shadow: 1px 1px 1px black;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

#animate-area {
  background-image: url("../../images/homePageBackground.png");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

.row {
  text-align: center;
  align-items: center;
}

.home-introImage {
  object-fit: cover;
}

h3 {
  font-family: var(--logo-font);
  font-size: 40px;
  color: var(--primary-xdark);
}

.home-oneliner {
  font-size: 30px;
  color: var(--cream);
  text-shadow: 1px 1px 5px black, 2px 2px 5px var(--primary-xdark), 3px 3px 4px black;
  margin-top: 25px;
}

p {
  font-size: 20px;
}
