.profile-pfp {
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  width: 250px;
  height: 250px;
  margin: 20px;
  border-color: var(--primary-dark);
}

.profile-username {
  font-size: 40px;
  font-weight: bolder;
  margin: 5px 20px 5px 20px;
  color: var(--primary-xdark);
}

.profile-email {
  font-size: 15px;
  margin: 5px 20px 15px 20px;
  color: var(--darkgrey);
}

.profile-intro {
  background-color: var(--primary-light);
  box-shadow: 1px 1px 2px var(--primary-xdark);
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  max-width: 260px;
}

.profile-Text {
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.profile-allergiesList {
  background-color: var(--primary-light);
  box-shadow: 1px 1px 2px var(--primary-xdark);
  border-radius: 10px;
  padding: 15px;
}

.profile-titles {
  font-family: var(--logo-font);
  font-size: 30px;
  color: var(--primary-dark);
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
  text-align: left;
  padding: 0;
}

.profile-allergies {
  margin: 10px;
}

.profile-allergiesContainer {
  background-color: white;
  border-style: inset;
  border-color: var(--primary-light);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.col-4 {
  margin-top: 10px;
}

.partyCard .card-body {
  padding: 5px;
  color: black;
  background-color: var(--cream);
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px #36382e;
}

.partyCard a {
  color: black !important;
  text-decoration: none;
}

.partyCard a:hover {
  color: var(--primary-xdark) !important;
}
.profile-partyGroup {
  max-height: 100px;
  overflow: scroll;
  border-radius: 3px;
  background-color: #cfceb4;
  border-radius: 10px;
  border-style: inset;
  border-color: #d7d6c1;
  margin-bottom: 5px;
  scrollbar-color: black;
}

.profile-achievementsContainer {
  border-radius: 10px;
  background-color: var(--orange);
  box-shadow: 1px 1px 2px #bf430d;
  margin: 10px;
  padding: 15px;
}

.profile-partiesContainer {
  border-radius: 10px;
  background-color: var(--green);
  margin: 10px;
  padding: 15px;
  max-height: 450px;
  box-shadow: 1px 1px 2px #36382e;
}

.profile-addPartiesButton {
  display: block;
  width: 100%;
}
