.icons {
  width: 170px;
  height: auto;
}

.rewards {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 5px;
  margin: 10px;
  position: relative;
  width: 180px;
  height: 200px;
  
}

.front {
  transition: 0.5s;
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 200px;
  color: var(--primary-xdark);
}

.back {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  width: 180px;
  height: 200px;
  margin-top: 50px;
  font-size: 25px;
}

.rewards:hover .front {
  transform: rotateY(180deg);
  opacity: 0;
}

.rewards:hover .back {
  opacity: 1;
}

.rewardtitle {
  font-size: 15px;
  margin-top: 0px;
}

