.Navbar {
  background-color: #73937e;
  justify-content: space-between;
}

.Navbar-logo {
  height: auto;
  width: 8%;
  border-radius: 50%;
}

.navbar-brand {
  font-family: Helvetica;
  font-weight: bolder;
  color: black;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: black;
  opacity: 0.8;
}

.navbar-brand:hover {
  color: black;
  opacity: 0.8;
}

.Navbar-link:hover {
  opacity: 0.8;
}

.Navbar-link.Navbar-login {
  opacity: 1;
}
