@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.Navbar {
  background-color: #f7607d;
  justify-content: space-between;
}

.Navbar-logo {
  float: left;
  height: 55px;
  width: 55px;
  padding: 1px;
  border-radius: 50%;
  border-width: 0.5px;
  margin: 0px 5px 0px 12px;
  background-color: #e3f2fd;
}

.navbar-brand {
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
  padding: 0px;
  font-weight: bolder;
}

.nav-link {
  color: white !important;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.Navbar-link:hover {
  opacity: 0.8;
}

.Navbar-link.Navbar-login {
  opacity: 1;
}

.btn,
btn-primary {
  background-color: var(--primary-dark);
  border-color: black;
}

.btn,btn-primary: hover {
  background-color: var(--primary-xdark);
}
